body {
    font-family:'Century Gothic','游ゴシック';
    background-color: greenyellow;
    color: black;
    width: 1100px;
    margin-right: auto;
    margin-left : auto;
}
button {
    padding: 5px 20px;
    background-color: white;
    border-style: none;
}
input {
    height: 20px;
}
p.attention{
 color: red
}
h1{
    color:red
}
h2{
    color:green;
}
#result-area,#result-area2{
    color:black;
    font-size: 125%;
}
